.xfce4-panel {
    color: transparent;
    background-color: transparent;
    }
    
    #pager-4 #xfce-panel-toggle-button{
    background-color: #070707;
    color: #f8f8f8;
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    }

    #pager-4 #xfce-panel-toggle-button:checked{
        background-color: #141414;
        color: #f8f8f8;
        padding: 4px;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 2px;
        margin-right: 2px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #pager-4 #xfce-panel-toggle-button:hover{
        background-color: #141414;
        color: #f8f8f8;
        padding: 4px;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 2px;
        margin-right: 2px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #clock-button {
        background-color: #070707;
        color: #f8f8f8;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-style: solid;
        border-width: px;
        border-color: #070707;
        padding: 4px;
        margin: 3px;
        padding-left: 4px;
        padding-right: 4px;
        }
        
        #clock-button:checked {
            background-color: #070707;
            color: #f8f8f8;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-style: solid;
            border-width: 1px;
            border-color: #070707;
            padding: 4px;
            margin: 3px;
            padding-left: 4px;
            padding-right: 4px;
        }
        
        #clock-button:hover {
            background-color: #141414;
            color: #f8f8f8;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-style: solid;
            border-width: 1px;
            border-color: #141414;
            padding: 4px;
            margin: 3px;
            padding-left: 4px;
            padding-right: 4px;
        }

        #launcher-6 #launcher-arrow{
            background-color: #070707;
            color: #f8f8f8;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-style: solid;
            border-width: 1px;
            border-color: #070707;
            padding: 4px;
            margin: 3px;
            padding-left: 4px;
            padding-right: 4px;
        }

        #launcher-6 #launcher-arrow:hover{
            background-color: #141414;
            color: #f8f8f8;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-style: solid;
            border-width: 1px;
            border-color: #141414;
            padding: 4px;
            margin: 3px;
            padding-left: 4px;
            padding-right: 4px;
        }

        #launcher-1 #launcher-arrow{
            background-color: #141414;
            color: #141414;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-style: none;
            border-width: 1px;
            padding-left: 7px;
            padding-right: 7px;
            border-color: #141414;
            margin: 3px;
        }

        #launcher-1 #launcher-arrow:hover{
            background-color: #141414;
            color: #141414;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-style: none;
            border-width: 1px;
            padding-left: 7px;
            padding-right: 7px;
            border-color: #141414;
            margin: 3px;
        }

        #xfce4-power-manager-plugin {
            background-color: #070707;
            color: #f8f8f8;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-style: solid;
            border-width: 1px;
            border-color: #070707;
            padding: 4px;
            margin: 3px;
            padding-left: 4px;
            padding-right: 4px;
        }
